body {
  background-color: rgba(4, 182, 253, 0.274);
}
.cont {
  padding-top: 50px;
  margin: 0 auto;
}
.todo_list {
  max-width: 400px;
  min-height: 120px;
  display: block;
  margin: 0 auto 40px;
  background-color: rgba(0, 132, 209, 0.603);
  border-radius: 10px;
  box-shadow: 2px 2px 0px 0px rgba(128, 128, 128, 0.849),
    0px 0px 2px 2px rgba(0, 0, 0, 0.829),
    4px 4px 0px 0px rgba(255, 255, 0, 0.452),
    0px 0px 4px 3px rgba(255, 255, 0, 0.877);
}
.todo_item {
  list-style: none;
}
.important {
  color: brown;
  font-weight: 400;
}
.todo_list__text {
  display: flex;
  justify-content: center;
  margin: auto;

  font-size: 36px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(240, 240, 243);

  text-shadow: 1px 1px 1px rgba(255, 255, 0, 0.877), 2px 2px 2px black,
    5px 5px 10px rgba(255, 255, 0, 0.568);
  text-rendering: optimizeSpeed;
}
.create_new_todo {
  display: block;
  justify-content: center;
  margin: 0 auto;
}
.message {
  display: block;
  background-color: rgba(255, 255, 0, 0.877);
  border-radius: 2px;
  border: none;
  margin: 0 auto;
}
.add {
  display: block;
  background-color: rgba(0, 132, 209, 0.603);
  color: rgba(255, 255, 0, 0.877);
  border: none;
  box-shadow: 1px 1px 0px 0px rgba(231, 209, 4, 0.767),
    0px 0px 1px 1px rgba(250, 235, 27, 0.555);
  border-radius: 2px;
  margin: 5px auto 5px;
}
